@charset "UTF-8";

.mod-ystides-table {
  line-height: normal;
  font-size: 12px;
}

.mod-ystides-table-data-col2 {
  font-size: 16px;
}

div.mod-ystides-info {
  background-image: url('/media/mod_ystides/images/ystides_logo.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 150px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.90);
  background-blend-mode: lighten;
}

div.mod-ystides-info div.card {
  background-color: transparent;
  height: 50ex;
}

div.mod-ystides-info div.card div.card-body {
  padding-top: 5ex;
}

div.ystides-coeff-value-low {
  background-color: #198754;
  color: #198754;
  float: right;
  width: 5ex;
}

div.ystides-coeff-value-average {
  background-color: #ffc107;
  color: #ffc107;
  float: right;
  width: 5ex;
}

div.ystides-coeff-value-high {
  background-color: #fd7e14cc;
  background-blend-mode: lighten;
  color: #fd7e14;
  float: right;
  width: 5ex;
}

div.ystides-coeff-value-very-high {
  background-color: #dc354535;
  color: #dc3545;
  float: right;
  width: 5ex;
}