@charset "UTF-8";

.mod-ystides-table {
  line-height: normal;
  font-size: 12px;
}

.mod-ystides-table-data-col2 {
  font-size: 16px;
}

div.mod-ystides-info {
  background-image: url('../images/ystides_logo.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 150px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.90);
  background-blend-mode: lighten;
}

div.mod-ystides-info div.card {
  background-color: transparent;
  height: 50ex;
}

div.mod-ystides-info div.card div.card-body {
  padding-top: 5ex;
}

div.ystides-coeff {
  float: right;
  width: 5ex;
  text-align: center;
}

div.ystides-coeff-value-low {
  background-color: #19875435;
  color: #198754;
}

div.ystides-coeff-value-average {
  background-color: #ffc10735;
  color: #ffc107;
}

div.ystides-coeff-value-high {
  background-color: #fd7e1435;
  color: #fd7e14;
}

div.ystides-coeff-value-very-high {
  background-color: #dc354535;
  color: #dc3545;
}